body{
    background-color: #FFC107;
    margin: 0;
    font-family: Helvetica, Sans-Serif;
}
.navbar{
    padding: 0;
}
.navbar-nav a{
    margin-right: 10px;
    padding: 12px;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.navbar-nav a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0;
    transition: 0.4s;
    bottom: 6px;
}
.navbar-nav a:hover:after{
    width: 100%;
}
#somosFlia{
    padding: 0;      
    height: 800px;
}
#logoflia{
    width: 340px;
    height: 300px;   
}
#somosFlia h1{
    margin-bottom: 50px;
}

#diezAños{
    background-color: black;
    color: #FFC107;
    padding: 20px;
}

#obteneDescuento{
    background-color: white;
}

.logoNav{
    width: 60px;
    height: 60px;
}

.bold{
    font-weight: bold;
}

.container-carusel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    position: relative;
    width: 65%;
    height: 320px;
    overflow: hidden;
}

.item{
    position: absolute;
    width: 250px;
    height: 320px;
    border-radius: 10px;
    padding: 2px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
    background-color: rgb(0, 0, 0);
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

i.fa-brands {
    color: black;
    margin: 5px;
  }

#next, #prev{
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    align-self: center;
}

label.error
{
    color: darkred;
}

/*abajo de 576.... */
@media only screen and (max-width: 576px) {
    #somosFlia{
       display: flex;
       flex-direction: column;
       justify-content: center;  
        height: 700px;
        margin: 0;
        padding: 0;
    }
    #somosFlia h1{
        margin: 8px;
    }
    #logoflia{
        width: 60%;
        height: 30%;
    }
    #diezAños {
        padding: 0px;        
        margin-top: 15px;
      }
    #containerProductos{
        margin-bottom: 80px;
    }

    #formDescuento {
        background-color: #E3E3E3;
        padding: 30px;
        margin-top: 15px;
        margin-bottom: 30px;
        }
    #btnEnviarDescuento{
             background-color: black;
             color: white;
             width: 70%; 
             padding: 10px;
             box-shadow: 0px 5px 15px black          
        }
        #formContacto{
            padding: 20px;
                   }      
       
        .logoNav{
            width: 40px;
            height: 40px;
        }
        .txtDescripcion{margin:15px;}
        .iconosRedes{width: 40px;height: 40px;}


}
/*arriba de 576.... */
@media only screen and (min-width: 576px) {
    #formDescuento {
        background-color: #E3E3E3;
        padding: 30px;
        margin-top: 15px;
        margin-bottom: 30px;
        }
        #btnEnviarDescuento{
            background-color: black;
            color: white;
            width: 50%;             
       }     

}

/*arriba de 1400.... */
@media only screen and (min-width: 1400px) {      

   
        
}
