@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*font-family: 'Raleway', sans-serif; font-family: 'Roboto', sans-serif;*/
body{
    background-color: #FFC107;
    margin: 0;
    font-family: Helvetica, Sans-Serif;
    text-align: center;
}
h2,h4{font-family: 'Raleway', sans-serif;font-weight: 700;}
h3{font-family: 'Raleway', sans-serif;font-weight: 600; font-style: italic;}
p{font-family: 'Roboto', sans-serif;}

.navbar{
    padding: 0;
}
.navbar-nav a{
    margin-right: 10px;
    padding: 12px;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.navbar-nav a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0;
    transition: 0.4s;
    bottom: 6px;
}
.navbar-nav a:hover:after{
    width: 100%;
}
#somosFlia{
    padding: 0;      
    height: 800px;
}
#logoflia{
    width: 293px;
    height: 260px;   
}
#somosFlia h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}

#diezAños{
    background-color: black;
    color: white;
    padding: 20px;
}
#btnEnviarDescuento{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;          
}
#obteneDescuento{
    background-color: white;
}

.logoNav{
    width: 60px;
    height: 60px;
}

.bold{
    font-weight: bold;
}
.btnNavLg{font-family: 'Roboto', sans-serif;
    font-weight: 700; }
.btnNavSm{font-family: 'Roboto', sans-serif;
    font-weight: 700; }

.container-carusel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.slider{
    position: relative;
    width: 65%;
    height: 320px;
    overflow: hidden;
}

.item{
    position: absolute;
    width: 250px;
    height: 320px;
    border-radius: 10px;
    padding: 2px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
    background-color: rgb(0, 0, 0);
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

i.fa-brands {
    color: black;
    margin: 5px;
  }

#next, #prev{
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    align-self: center;
}

.container-descuento{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 3%;
    font-size: 20px;
}


label.error
{
    color: darkred;
}

.btn{
    font-family: 'Roboto', sans-serif;
}

/*abajo de 576.... */
@media only screen and (max-width: 576px) {
    #somosFlia{
       display: flex;
       flex-direction: column;
       justify-content: center;  
        height: 700px;        
    }
    #somosFlia h1{
        margin: 8px;
    }
    #logoflia{
        width: 60%;
        height: 30%;
    }
    #diezAños {
        padding: 0px;        
        margin-top: 15px;
      }
    #containerProductos{
        margin-bottom: 60px;
    }
    #festeja{
        color: #FFC107;
        font-size: 30px;
        padding: 0px 0px;
    }
    .item{
        width: 170px;
        height: 225px;
    }
    .slider{
        height: 230px;
    }
    #formDescuento {
    background-color: #E3E3E3;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    }
    #btnEnviarDescuento{
             background-color: black;
             color: white;
             width: 70%; 
             padding: 10px;
             box-shadow: 0px 5px 15px #00000061;        
        }
        #seccionFormularioContacto{
            flex-direction: column-reverse;
        }
        #formContacto{
            padding: 20px;
            font-family: 'Raleway', sans-serif;
            text-align: left;
                   }      
       
        .logoNav{
            width: 40px;
            height: 40px;
        }
        .txtDescripcion{margin:15px;}
        .iconosRedes{width: 30px;height: 30px;margin: 5px;}
        .btnNavSm{display: block;}
        .btnNavLg{display: none;}
        .saltolg{display: none;}
}
/*arriba de 576.... */
@media only screen and (min-width: 576px) {
    #somosFlia{
        display: flex;
        flex-direction: column;
        justify-content: center;  
         height: 700px;        
     }
     #somosFlia h1{
         margin: 8px;
     }
     #logoflia{
        width: 50%;
        height: 35%
     }
     #diezAños {
         padding: 0px;        
         margin-top: 15px;
       }
     #containerProductos{
         margin-bottom: 70px;
     }
     #festeja{
        color: #FFC107;
        font-size: 30px;
        padding: 0px 0px;
    }
        .formDescuento {
         background-color: #E3E3E3;
         padding: 30px;
         margin-top: 15px;
         margin-bottom: 30px;
         margin-right: 40px;
         margin-left: 40px;
         padding-bottom: 50px;
         font-family: 'Raleway', sans-serif;
         text-align: left;
         }
     #btnEnviarDescuento{
              background-color: black;
              color: white;
              width: 70%; 
              padding: 10px;
              box-shadow: 0px 5px 15px #00000061;        
         }
         #seccionFormularioContacto{
             flex-direction: column-reverse;
         }
         #formContacto{
             padding: 20px;
             margin-right: 30px;
             margin-left: 30px;
             font-family: 'Raleway', sans-serif;
             text-align: left;
                    }                   
             .logoNav{
             width: 40px;
             height: 40px;
         }
         .txtDescripcion{margin:30px;}
         .iconosRedes{width: 30px;height: 30px;margin: 5px;}
         .btnNavSm{display: block;}
         .btnNavLg{display: none;}
         .saltolg{display: none;}  
         .item{
            width: 180px;
            height: 235px;
        }
        .slider{
            height: 240px;
        }
}
/*arriba de 768.... */
@media only screen and (min-width: 768px) {
    #festeja{
        color: #FFC107;
        font-size: 30px;
        padding: 0px 0px;
    }
    #logoflia{
        width:40%;
        height: 35%
     }
    .formDescuento {       
        margin-right: 100px;
        margin-left: 100px;       
        }
    #formContacto {
        margin-right: 0px;
        margin-left: 0px;        
      }

    #seccionFormularioContacto{
        flex-direction: row;
    }
    .txtDescuento{width: 60%; margin: 0 auto;}
    .txtDescripcion{margin:10px;}
    
  }

/*arriba de 992.... */
@media only screen and (min-width: 992px) {
    #logoflia{
        width:250px;
        height: 200px;
     }
    .formDescuento {
        margin-right: 0px;
        margin-left: 0px;
      }
       .btnNavSm{display: none;}
        .btnNavLg{display: block;}
        .txtDescuento{width:80%; margin: 0 auto;}
        .textosDescuento{margin-top: 0px;}
        .item{
            width: 250px;
            height: 320px;
        }
        .slider{
            height: 320px;
        }
}

/*arriba de 1400.... */
@media only screen and (min-width: 1200px) {    
    .formDescuento {
        margin-right: 40px;
        margin-left: 40px;
      }
      #formContacto {
        margin-right: 40px;
        margin-left: 40px;
      }
      #festeja{
               font-size: 36px;
        padding: 0px 170px;
    }
    .saltolg{display: block;}
        
}

/*arriba de 1400.... */
@media only screen and (min-width: 1400px) {    
    .textosContacto{margin:40px;}
        
}

/*arriba de 1600.... */
@media only screen and (min-width: 1600px) {    
    #festeja {      
        padding: 0px 190px;          
      }
      .formDescuento {
        margin-right: 70px;
        margin-left: 70px;
      }
      #formContacto {
        margin-right: 70px;
        margin-left: 70px;
      }
    .txtDescripcion{margin:40px;}
        
}

/*Formulario multipaso*/

.wizard .nav-tabs {
position: relative;
margin-bottom: 0;
border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
position: relative;
margin-bottom: 50px;
text-align: center;
}

.connecting-line {
height: 2px;
background: #e0e0e0;
position: absolute;
width: 75%;
margin: 0 auto;
left: 0;
right: 0;
top: 65px;
}

span.round-tab {
width: 30px;
height: 30px;
line-height: 30px;
display: inline-block;
border-radius: 50%;
background: #fff;
position: absolute;
left: 0;
text-align: center;
font-size: 16px;
color: #000000;
font-weight: 500;
border: 1px solid #ddd;

}

.wizard li > button.active span.round-tab {
background: #FFC107;
color: #fff;
border-color: #FFC107;

}

.wizard .nav-tabs > li> button.active i {
color: #FFC107;
}
.wizard .nav-tabs > li {
width: 25%;
}

.wizard .nav-tabs > li button {
width: 30px;
height: 30px;
margin: 5px auto;
border-radius: 100%;
padding: 0;
background-color: transparent;
position: relative;
top: 30px;
}
.wizard .nav-tabs > li button i {
position: absolute;
top: -5px;
font-style: normal;
font-weight: 400;
white-space: nowrap;
left: 50%;
transform: translate(-50%, -50%);
font-size: 12px;
font-weight: 700;
color: #000;
}

.wizard .nav-tabs > li > button.nav-link {
border-color: transparent;
}